on:
  release:
    types: [published]

permissions:
  # Required for OIDC publishing
  id-token: write

name: publish-to-npm
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - run: pnpm install --frozen-lockfile
      - run: pnpm build

      - run: pnpm publish --access=public --no-git-checks
        if: ${{!github.event.release.prerelease}}
      - run: pnpm publish --tag prerelease --no-git-checks
        if: ${{github.event.release.prerelease}}